@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100;300;700&display=swap');


*{margin: 0; padding: 0;}

.navbar {
    height: 8vh;
}

main {
    background: url("img/fundo.png") no-repeat center center;
    background-size: cover;
    height: 88vh;  
}

footer{
	background-color: #212529;
	padding: 20px;
    height: 100%;
    
}

footer p{
	text-align: center;
	color: #FFF;
}

footer a{
	color: red;
    text-decoration: none;
}

footer a:hover{
	color: #A9A9A9;
}

/*orcamento_pcs8*/

#pag-orcamento{
    background: url("img/fundo.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    padding: 30px;
}

#container{
	display:flex;
	margin-top: 20px;
}

.card{
	background-color: #fff;
	margin: 10px;
	width: 33%;
	border-radius: 8px;
	box-shadow: 0px 4px 8px #9E9E9E;
	transition: 0.5s;	
}

.card:hover{
	box-shadow: 0px 8px 16px #9E9E9E;
}

h1{
    color: #FFF;
    text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 2.2rem;
	padding: 30px;
    
    
}

h2{
    color: #FFF;
    text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.7rem;
	margin-bottom: 10px;
    padding: 40px;
}

h3{
	color: red;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.7rem;
	margin-bottom: 10px;
}

h4{
	color: #363636;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	padding: 4px;
	font-weight: 700;
	
}

.card-content{
	padding: 10px;
}

.card-content p{
	text-align: center;
	font-size: 1rem;
	line-height: 20px;
} 

.card-links{
	text-decoration: none;
	color: red;
	font-size: 0.9rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	display: flex;
	margin: 5px;	
}

.barato{
	color: #00CD66;
}

.medio{
	color: #FF8C00;
}

.caro{
	color: #EE0000;
}

#total_orca{
	background-color: #363636;
	color: #708090;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	padding: 10px;
	
	
}

@media screen and (max-width: 480px){
	#container{
		flex-direction: column;
		margin-top: 20px;
	}

	.card{
		background-color: #fff;
		margin: 10px;
		width: 100%;
		border-radius: 8px;
		box-shadow: 0px 4px 8px #9E9E9E;
		transition: 0.5s;	
	}
}